<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app" class="container">
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a @click="first" class="page-link" href="#">&laquo;</a>
          </li>
          <li class="page-item">
            <a @click="prev" class="page-link" href="#">&lt;</a>
          </li>

          <li
            v-for="i in displayPageRange"
            class="page-item"
            :class="{active: i-1 === currentPage}"
          >
            <a @click="pageSelect(i)" class="page-link" href="#">{{ i }}</a>
          </li>

          <li class="page-item">
            <a @click="next" class="page-link" href="#">&gt;</a>
          </li>
          <li class="page-item">
            <a @click="last" class="page-link" href="#">&raquo;</a>
          </li>
        </ul>
      </nav>
      <ul class="list-group">
        <li v-for="item in displayItems" class="list-group-item">
          {{ item.text }}
        </li>
      </ul>
    </div>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
